[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
pypdf = "*"
nltk = "*"
spacy = "*"
scikit-learn = "*"
matplotlib = "*"
yellowbrick = "*"
gensim = "==3.6.0"
joblib = "*"
en_core_web_sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl"}


[dev-packages]

[requires]
python_version = "3.10"
